option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "nobody@amazon.com"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app.config"
    "FLASK_DEBUG": "false"
    "THEME": "flatly"
    "CUSTOM_": "This is a custom Variable"
    "CUSTOM_1": "This is a custom Variable"
    "BASIC_AUTH_USERNAME": ""
    "BASIC_AUTH_PASSWORD": ""
    "CONNECTION_STRING":""
container_commands:
  01_wsgi_pass_headers:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
